.search-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-title {
	font-weight: 900;
	font-size: xx-large;
	letter-spacing: 0.2em;
	text-align: center;
}

.search-title,
.search-box {
	margin-bottom: 5%;
	transition: all ease-out 1s;
}
