<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>404 Not Found</title>
		<!-- https://www.github.io/snake/home -->
		<!-- https://www.github.io/snake/dir/home -->
		<!-- https://www.github.io/snake/dir/home?user=a&pas=b -->
		<script type="text/javascript">
			{
				let dir = 1;
				let l = window.location;
				let url = l.protocol + "//" + l.hostname + (l.port ? ":" + l.port : "");
				url += l.pathname
					.split("/")
					.slice(0, 1 + dir)
					.join("/");

				let path = "*";
				path += l.pathname
					.slice(1)
					.split("/")
					.slice(dir)
					.join("/");
				path += l.search + l.hash;
				console.log(url + path);
				l.replace(url + path);
			}
		</script>
	</head>
	<body></body>
</html>
