<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<title>🐍</title>
		<script type="text/javascript">
			{
				let dir = 1;
				let l = window.location;
				let url = l.protocol + "//" + l.hostname + (l.port ? ":" + l.port : "");
				url +=
					l.pathname.split("*").slice(0, 1) +
					"/" +
					l.pathname
						.split("*")
						.slice(1)
						.join("/");
				url += l.search + l.hash;
				console.log(url);
				window.history.replaceState(null, null, url);
			}
		</script>
	</head>

	<body>
		<div id="root"></div>
	</body>
</html>
