@import "~antd/dist/antd.css";

/* init */
#app {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	position: absolute;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* layout */
.top,
.main,
.btm {
	padding: 0 50px;
}

.main {
	height: 100%;
}

.top {
	background: #fff;
	-webkit-box-shadow: 0 2px 8px #f0f1f2;
	box-shadow: 0 2px 8px #f0f1f2;
}

.btm {
	text-align: center;
	padding-bottom: 5px;
	user-select: none;
}

/* global */
:global(.ant-layout) {
	height: calc(100% - 20px);
	margin-top: 20px;
	background-color: #fff;
}
